@font-face {
  font-family: 'RobotoSlab';
  src: url('../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf'),
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf')
}

@font-face {
  font-family: 'Merriweather';
  src: url('./fonts/Merriweather/Merriweather-Regular'),
}

.block {
  margin: 40px;
}


/* SIMPLE IMAGE */

.simple-image {
    padding: 20px 0;
}

.simple-image input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}

.simple-image img {
    max-width: 100%;
    margin-bottom: 15px;
}

.simple-image.withBorder img {
    border: 1px solid #e8e8eb;
}

.simple-image.withBackground {
    background: #eff2f5;
    padding: 10px;
}

.simple-image.withBackground img {
    display: block;
    max-width: 60%;
    margin: 0 auto 15px;
}


  /* PARAGRAPH */

.ce-paragraph {
    line-height: 1.6em;
    outline: none;
}
.ce-paragraph--right {
    text-align: right;
}
.ce-paragraph--center {
    text-align: center;
}
.ce-paragraph--left {
    text-align: left;
}

.ce-paragraph--justify {
    text-align: justify;
}

.ce-paragraph[data-placeholder]:empty::before{
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}

.font {
  font-size: 23px;
  font-family: 'Merriweather';
  line-height: 1.3;
  letter-spacing: 0.8px;
  font-weight: 400;
}

/** Show placeholder at the first paragraph if Editor is empty */
.codex-editor--empty .ce-block:first-child .ce-paragraph[data-placeholder]:empty::before {
  opacity: 1;
}

.codex-editor--toolbox-opened .ce-block:first-child .ce-paragraph[data-placeholder]:empty::before,
.codex-editor--empty .ce-block:first-child .ce-paragraph[data-placeholder]:empty:focus::before {
  opacity: 0;
}

.ce-paragraph p:first-of-type{
    margin-top: 0;
}

.ce-paragraph p:last-of-type{
    margin-bottom: 0;
}


.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}


  /* QUOTE */

  .cdx-quote-icon svg {
    transform: rotate(180deg);
  }
  
  .cdx-quote {
    margin: 0;
  }
  
  .cdx-quote__text {
    min-height: 158px;
    margin-bottom: 10px;
  }
  
  
  .cdx-quote [contentEditable=true][data-placeholder]::before{
    position: absolute;
    content: attr(data-placeholder);
    color: #707684;
    font-weight: normal;
    opacity: 0;
  }
  
  .cdx-quote [contentEditable=true][data-placeholder]:empty::before {
    opacity: 1;
  }
  
  .cdx-quote [contentEditable=true][data-placeholder]:empty:focus::before {
    opacity: 0;
  }
  
  
  .cdx-quote-settings {
    display: flex;
  }
  
  .cdx-quote-settings .cdx-settings-button {
    width: 50%;
  }



  /* CODE */

  .ce-code__textarea {
    min-height: 200px;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    color: #41314e;
    line-height: 1.6em;
    font-size: 12px;
    background: #f8f7fa;
    border: 1px solid #f1f1f4;
    box-shadow: none;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
    resize: vertical;
}

.ce-code__languagecode {
    color: #41314e;
    background: #f8f7fa;
    font-size: 14px;
    padding: 1px;
    margin: 5px 0px;
    border-radius: .5em;
}

/* HEADER */

 .ce-header-1 {
  padding: 0.6em 0 3px;
  margin: 0;
  line-height: 3.25rem;
  outline: none;
  font-size: 3rem;
  font-family: 'Poppins';
  /* font-weight: bold; */
}
.ce-header-2 {
  padding: 0.6em 0 3px;
  margin: 0;
  line-height: 3rem;
  outline: none;
  font-size: 2.75rem;
  font-family: 'Poppins';

}
.ce-header-3 {
  padding: 0.6em 0 3px;
  margin: 0;
  line-height: 2.75rem;
  outline: none;
  font-size: 2.5rem;
  font-family: 'Poppins';

}
.ce-header-4 {
  padding: 0.6em 0 3px;
  margin: 0;
  line-height: 2.5rem;
  outline: none;
  font-size: 2.25rem;
  font-family: 'Poppins';

}
.ce-header-5 {
  padding: 0.6em 0 3px;
  margin: 0;
  line-height: 2.25rem;
  outline: none;
  font-size: 2rem;
  font-family: 'Poppins';
  
}
.ce-header-6 {
  padding: 0.6em 0 3px;
  margin: 0;
  line-height: 2rem;
  outline: none;
  font-family: 'Poppins';
  font-size: 1.75rem;
}

.ce-header p,
.ce-header div {
  padding: 0 !important;
  margin: 0 !important;
}

/**
 * Styles for Plugin icon in Toolbar
 */
/* .ce-header__icon {
} */

.ce-header[contentEditable="true"][data-placeholder]::before {
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  display: none;
  cursor: text;
}

.ce-header[contentEditable="true"][data-placeholder]:empty::before {
  display: block;
}

.ce-header[contentEditable="true"][data-placeholder]:empty:focus::before {
  display: none;
}

/* Alignment*/
.ce-header--right {
  text-align: right;
}
.ce-header--center {
  text-align: center;
}
.ce-header--left {
  text-align: left;
}
.ce-header--justify {
  text-align: justify;
}