* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf'),
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf')
}

@font-face {
  font-family: 'Merriweather';
  src: url('./fonts/Merriweather/Merriweather-Regular'),
}

.block {
  margin: 20px;
  width: 100%;
}


/* PARAGRAPH */

.paragraph {
  font-size: 23px;
  font-family: 'Merriweather';
  line-height: 1.3;
  letter-spacing: 0.8px;
  font-weight: 100;
}

/* IMAGE */

.image-caption {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
  color: gray;
}




/* TABLE */

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.styled-table tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table td {
  padding: 12px 15px;
}



/* HEADER */

.header {
  font-family: 'Poppins';
  text-align: left;
}

.navbar-container {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.editor-navbar-container {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* NAVBAR */


.dropdown::before {
  content: '';
  position: absolute;
  top: -0.7rem;
  right: 1.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 2px solid;
  border-top: 2px solid;
}

ul.nolist {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 0.2s ease;

}

ul.list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.2s ease;
}